*:focus {
  outline: none !important;
  box-shadow: none !important;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

//@import "../modules/header/header";